@import "tailwindcss";
@tailwind utilities;



@layer utilities {
  .shadow-polaroid {
    box-shadow:
      0 4px 14px 0 rgba(0,0,0,.25),
      0 2px 4px 0 rgba(0,0,0,.15);
  }
  
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 4s ease infinite;
  }
  
  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}


body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@layer utilities {
  .shadow-polaroid {
    box-shadow:
      0 4px 14px 0 rgba(0,0,0,.25),
      0 2px 4px 0 rgba(0,0,0,.15);
  }
  
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 4s ease infinite;
  }
  
  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}